
.header{
  margin: 20px;
  text-align: center;
}

#wrapper {
  left: 50%;
  transform: translate(-50%);
  position:absolute;
}
input{
  margin-left: 20px;
}
.overlay-box{
  border: 2px solid red;
  position: absolute;
}
